#do not add sim files
*.vcd
transcript
*.wlf


#do not add any ini files
*.ini

#do not any qpf files
*.rpt
*.qsf

#do not add any backup file
*.bak


#do not add any other files to repo
_info
*.qdb
*.qpg
*.qtl
_vmake
project/db/*
project/output_files/*
project/simulation/*
project/incremental_db/*
project/db/narayan.quiproj.55152.rdr.flock

C:/Users/supre/Downloads/Narayan/project/work/*
C:/Users/supre/Downloads/Narayan/project/db/*
C:/Users/supre/Downloads/Narayan/project/output_files/*
C:/Users/supre/Downloads/Narayan/project/simulation/*
C:/Users/supre/Downloads/Narayan/project/incremental_db/*

#do not upload any editable docs
*.docx
*.doc
*.docs

#also not to upload any temp files
*.tmp